.btn {
  display: inline-block;
  background: orangered;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 20px 5px 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}
